name: update_self_monitoring_apps

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  update_apps:
    runs-on: ubuntu-latest
    # Set the env for Azure managed identity federated credentials for OIDC
    # https://github.com/marketplace/actions/azure-login#login-with-openid-connect-oidc-recommendeda
    environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Update Azure Web Apps
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp deploy --resource-group "serverless-aas-linux" --name "serverless-dotnet6-self-monitoring" --src-path ./datadog_wrapper --type=startup
            az webapp deploy --resource-group "serverless-aas-linux" --name "serverless-java-springboot-self-monitoring" --src-path ./datadog_wrapper --type=startup
            az webapp deploy --resource-group "serverless-aas-linux" --name "serverless-node-express-self-monitoring" --src-path ./datadog_wrapper --type=startup
            az webapp deploy --resource-group "serverless-aas-linux" --name "serverless-php-laravel-self-monitoring" --src-path ./datadog_wrapper --type=startup
            az webapp deploy --resource-group "serverless-aas-linux" --name "serverless-py-django-self-monitoring" --src-path ./datadog_wrapper --type=startup
            az webapp deploy --resource-group "serverless-aas-linux" --name "serverless-tomcat-self-monitoring" --src-path ./datadog_wrapper --type=startup


